<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Similarity Application</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Similarity</a>
</nav>

<main role="main" class="container">

    <form name="registration">
        <div class="form-group">
            <label for="notebook">Notebook Entry</label>
            <input type="text" class="form-control" id="notebook" placeholder="Notebook Entry" name="notebook">
            <small id="notebookHelp" class="form-text text-muted">Please enter the Notebook entry</small>
        </div>
        <div class="form-group">
            <label for="word">Word</label>
            <input type="text" class="form-control" id="word" name="word" placeholder="word">
            <small id="wordHelp" class="form-text text-muted">Please enter the target word</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <div id="results">
        <h2>Result Set</h2>
        <div id="frequency"><label>Frequecy:</label><span></span></div>
        <div id="similarWords"><label>Similar Words:</label><span></span></div>
    </div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script th:src="@{/js/script.js}"></script>


</body>
</html>
